<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credit Score Prediction</title>
  </head>
  <body>
    <h1>Credit Score Prediction</h1>
    <form action="/predict" method="post">
      <label for="features">Enter features separated by comma:</label><br />
      <textarea
        id="features"
        name="features"
        rows="10"
        cols="50"
        placeholder="Feature1, Feature2, Feature3, ..."
      ></textarea
      ><br />
      <input type="submit" value="Predict" />
    </form>
    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
  </body>
</html>
